---
title: Fabric {{componentName}} | Microsoft Docs
author: Vitalius1
ms.author: vibraga
---

# {{componentName}}

<iframe 
    title='{{componentName}}'
    src='https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/fabric-website-resources/dist/index.html#/examples/{{{componentUrl}}}?docsExample=true'
    frameborder='no'
    height='1650'
    style='width: 100%;'
>