---
title: Fabric React Getting Started | Microsoft Docs
author: Vitalius1
ms.author: vibraga
---


# Get Started with Fabric React v{{fabricPackageVersion}}

:tada: The **Office UI Fabric React** project is evolving to **Fluent UI**. :tada:

We have a lot in store for Fluent UI - [Read our announcement here.](https://developer.microsoft.com/en-us/office/blogs/ui-fabric-is-evolving-into-fluent-ui/)


## Overview
{{{GetStartedOverview}}}


## Fabric React
{{{GetStartedDevelopExisting}}}


## Start a new Fabric React project
{{{GetStartedDevelopSimple}}}


## Next steps with Fabric React
{{{GetStartedNextSteps}}}


## Fabric Core
{{{GetStartedDevelopCore}}}


## Use our design language in your site
{{{GetStartedDesign}}}
