---
title: Fabric React Getting Started | Microsoft Docs
author: Vitalius1
ms.author: vibraga
---

## Overview
{{{GetStartedOverview}}}


## Fabric React
{{{GetStartedDevelopExisting}}}


## Start a new Fabric React project
{{{GetStartedDevelopSimple}}}


## Next steps with Fabric React
{{{GetStartedNextSteps}}}


## Fabric Core
{{{GetStartedDevelopCore}}}


## Use our design language in your site
{{{GetStartedDesign}}}