# Overview
{{GetStartedOverview}}

# Fabric React
{{GetStartedDevelopExisting}}

# Start a new Fabric React project
{{GetStartedDevelopSimple}}

# Next steps with Fabric React
{{GetStartedNextSteps}}

# Fabric Core
{{GetStartedDevelopCore}}

# Use our design language in your site
{{GetStartedDesign}}